* { margin: 0;
    padding: 0;} 
  body{
      background-image: url(/files/b_gold_redondo.png);
      background-size: 50%;
      background-position: top  center ;
      background-repeat: no-repeat;
  } 

  #heading {
    background: rgba(0,0,0,1);
            }
  #heading div {
      width: 90%;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
  }
  #heading .h1 {
      padding: 15px 50px;
      font-size: 20px;
      
  }
  #heading a {
      text-decoration: none;
      color: #fff; 
      font-family: sans-serif; 
                
  }

  a:hover{
      background: rgba(232, 180, 180, 0.2);
  }
